article#contents
  .container
    h2 Содержание
    ul
      -// Содержание генерируется скриптом

    ul
      li SVG
      li Вёрстка форм
      li Градиенты, тени и фильтры
      li Трансформации
      li Анимации
      li Поговорим о семантике
      li Bootstrap
      li Препроцессоры
      li meta и open graph
