article#do-u-know
  .container
    h2 Знаете ли вы?
    p В этой статье приведены нестандартные и неоднозначные решения тех или иных проблем, связанных с вёрсткой.
    section
      h3 Знаете ли вы, что картинки можно хранить прямо в css-файле?
      p Небольшие картинки, используемые, например, в свойстве background-image, можно хранить прямо в css. Лучше всего это работает с SVG-графикой. 
        | Для того, чтобы вставить картинку в css, нам придется воспользоваться 
        a(target="_blank" href="http://yoksel.github.io/url-encoder/ru/") простеньким энкодером
        | , который, к тому же, сразу же сгенерирует код для вставки в css. 
      p Если же у вас растровая иконка и вы используете 
        a(target="_blank" href="https://lesscss.ru/") LESS
        | , то обратите внимание на 
        a(target="_blank" href="https://lesscss.ru/functions/#misc-functions-data-uri") функцию data-uri
        | , которая принимает в качестве параметра путь к файлу с картинкой, а скомпилированный css-файл уже будет содержать закодированную картинку. 