article#gradients-shadows-filters
  .container
    h2 Градиенты, тени и фильтры
    p Почти на каждом макете, который вам даст дизайнер, вы увидете какие-то плавные переходы цветов, элементы, будто парящие над другими элементами, цветовые эффекты
      | у изображений, происходящие с ними, например, при наведении курсора мыши. В этой главе мы разберём часть из этих эффектов.

    section
      h3 Градиенты
      p Градиенты &mdash; это плавные перетекания одних цветов в другие, используемые, в основном, для фона. В CSS градиенты бывают двух типов: линейные и радиальные.
      p Линейные градиенты задаются функцией
        code linear-gradient()
        | , которая принимает в качестве параметров направление градиента (в радианах - deg) и список точек (минимум 2), содержащие цвет и позицию точки (в процентах).

      div(data-run="gradient-1")
      pre(data-lang="html" data-code="gradient-1" hidden)
        :escape
          <div class="gradient"></div>
      pre(data-lang="css" data-code="gradient-1")
        :escape
          .gradient {
            background: linear-gradient(
              90deg, /* задаём направление градиента */
              blueviolet 0%, /* задаём цвет и позицию первой точки градиента */
              tomato 100% /* задаём цвет и позицию второй точки градиента */
            );
            height: 200px;
          }
      p Подробнее о линейном градиенте можно прочитать здесь:
        a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient" target="_blank") MDN: linear-gradient()


      p Радиальные градиенты задаются функцией
        code radial-gradient()
        | , которая принимает в качестве параметров форму градиента (circle или ellipse) и список точек, содержащие цвет и позицию точки.

      div(data-run="gradient-2")
      pre(data-lang="html" data-code="gradient-2" hidden)
        :escape
          <div class="gradient"></div>
      pre(data-lang="css" data-code="gradient-2")
        :escape
          .gradient {
            background: radial-gradient(
              circle, /* задаём форму градиента */
              blueviolet 0%, /* задаём цвет и позицию первой точки градиента */
              tomato 100% /* задаём цвет и позицию второй точки градиента */
             );
            height: 200px;
          }

      p Подробнее о радиальном градиенте можно прочитать здесь:
        a(href="https://developer.mozilla.org/ru/docs/Web/CSS/radial-gradient" target="_blank") MDN: radial-gradient()

      p Для быстрого формирования градиентов существуют генераторы градиентов, один из которых я рекомендую своим читателям:
        a(href="https://cssgradient.io/" target="_blank") CSS Gradient

    section
      h3 Тени
      p Тени в CSS подразделяются на два вида: тени текста и тени блоков.
      p Тени текста задаются свойством
        code  text-shadow
        | , принимающим четыре параметра: сдвиг тени по оси X, сдвиг тени по оси Y, размытие тени и её цвет.
      p Тени блоков задаются свойством
        code  box-shadow
        | , принимающим пять параметров: сдвиг по оси X, сдвиг по оси Y, размытие тени, радиус распространения и её цвет.
      p Рассмотрим пример:
      pre(data-lang="html" data-code="shadow")
        :escape
          <div class="shadow">Текст с тенью внутри блока с тенью</div>
      pre(data-lang="css" data-code="shadow")
        :escape
          .shadow {
            text-shadow: 1px 3px 5px grey;
            box-shadow: 0 5px 10px -3px black;

            max-width: 320px;
            padding: 50px;
            font-size: 18px;
            text-align: center;
            border-radius: 10px;
            color: teal;
            background: white;
            margin: 20px auto;
          }
      div(data-run="shadow")

      p Разберёмся подробнее с параметрами теней. Сдвиги по осям X и Y позволяют перемещать тень относительно текста. Они могут быть как положительными, так и отрицательными,
      | причём отрицательные сдвиги будут перемещать тень влево и вверх, соответственно. Размытие тени может быть только положительным числом. Благодаря этому параметру
      | можно создать эффект нечёткой тени, положительно влияющий на реалистичность. Радиус распространения тени может быть как положительным, так и отрицательным числом.
      | Это свойство применимо только к
      code box-shadow
      | . По умолчанию оно равно 0, что означает, что площадь тени будет равна площади блока. Положительные значения увеличат площадь тени относительно блока, а отрицательные &mdash;
      |  уменьшат, что позволит создать эффект парящего блока.
      p Поиграть с box-shadow можно здесь:
        a(target="_blank" href="https://html-css-js.com/css/generator/box-shadow/") Box-Shadow CSS Generator
        | , а с text-shadow тут:
        a(target="_blank" href="https://html-css-js.com/css/generator/text-shadow/") Text Shadow CSS Generator
        | .
    section
      h3 Фильтры
      p Фильтры в CSS решают примерно ту же задачу, что и фильтры в фотошопе или инстаграме (кому что ближе). Обычно, фильтры применяются к изображениям, но они могут быть применены
      | к любому элементу на странице. Существует несколько основных фильтров, но можно применять и собственные SVG-фильтры, если вы достаточно уверенно себя чувствуете, работая с этой технологией.
      ul
        li
          code blur()
          | &mdash; применяет к элементу размытие по Гауссу (px)
        li
          code brightness()
          | &mdash; влияет на яркость изображения. (0% - 100%)
        li
          code contrast()
          | &mdash; изменяет контрастность изображения. (0% - 100%)
        li
          code drop-shadow()
          | &mdash; ведёт себя похожим образом на
          code box-shadow()
          | , но, применяясь к изображению с прозрачным фоном или сложной геометрической фигуре, образует тень, обтекающую именно фигуру, а не блок. Пример:
          code filter: drop-shadow(1px 1px 5px 0 black);
        li
          code grayscale()
          | &mdash; делает изображение чёрно-белым. (0% - 100%)
        li
          code hue-rotate()
          | &mdash; вращает цвета изображения по HSL-кругу. (0deg - 360deg)
        li
          code invert()
          | &mdash; создаёт негатив изображения. (0% - 100%)
        li
          code opacity()
          | &mdash; ведёт себя так же, как и обычное свойство opacity, изменяя прозрачность изображения. (0% - 100%)
        li
          code saturate()
          | &mdash; устанавливает насыщенность дл изображения. (0% - 100%)
        li
          code sepia()
          | &mdash; имитирует эффект "старинного снимка". (0% - 100%)
        li
          code url()
          | &mdash; принимает ссылку на SVG-фильтр и применяет этот фильтр к изображению.

      p Этот пример от html5book наглядно демонстрирует возможности фильтров:
        a(href="https://codepen.io/html5book/full/WGQOGg" target="_blank") CSS3 Filters
