* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.accent-font {
  color: var(--grey-dark);
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;

  &:not(.accent-font) {
    margin: 2em 0 1em;
  }
}

body {
  margin: 0;
  font-family: '-apple-system', BlinkMacSystemFont, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: var(--accent);

  &:hover {
    color: var(--accent-dark);
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  color: var(--grey-dark);
  margin: 2em 0 1em;
  font-weight: 400;
  word-break: break-word;
  line-height: 1.4;
}

ul,
ol {
  padding-left: 16px;
  color: var(--grey-dark);
  line-height: 1.4;
}

.columns-2 {
  column-count: 2;
}

.button,
button {
  background-color: var(--accent);
  color: white;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color, box-shadow 150ms ease-in-out;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: var(--accent-light);
    color: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
