<section id="introduction"><h2>Введение</h2><p>Это практическое руководство создано для начинающих верстальщиков и frontend-разработчиков, которые уже успели познакомиться с множеством HTML-тегов и CSS-свойств.
Как минимум, вы должны быть знакомы со следующими тегами:</p><ul class="columns-2"><li>
<a href="http://htmlbook.ru/html/a" target="_blank">A</a></li><li>
<a href="http://htmlbook.ru/html/article" target="_blank">ARTICLE</a></li><li>
<a href="http://htmlbook.ru/html/body" target="_blank">BODY</a></li><li>
<a href="http://htmlbook.ru/html/button" target="_blank">BUTTON</a></li><li>
<a href="http://htmlbook.ru/html/div" target="_blank">DIV</a></li><li>
<a href="http://htmlbook.ru/html/h1" target="_blank">H1</a></li><li>
<a href="http://htmlbook.ru/html/h2" target="_blank">H2</a></li><li>
<a href="http://htmlbook.ru/html/h3" target="_blank">H3</a></li><li>
<a href="http://htmlbook.ru/html/head" target="_blank">HEAD</a></li><li>
<a href="http://htmlbook.ru/html/html" target="_blank">HTML</a></li><li>
<a href="http://htmlbook.ru/html/img" target="_blank">IMG</a></li><li>
<a href="http://htmlbook.ru/html/input" target="_blank">INPUT</a></li><li>
<a href="http://htmlbook.ru/html/label" target="_blank">LABEL</a></li><li>
<a href="http://htmlbook.ru/html/li" target="_blank">LI</a></li><li>
<a href="http://htmlbook.ru/html/link" target="_blank">LINK</a></li><li>
<a href="http://htmlbook.ru/html/p" target="_blank">P</a></li><li>
<a href="http://htmlbook.ru/html/section" target="_blank">SECTION</a></li><li>
<a href="http://htmlbook.ru/html/span" target="_blank">SPAN</a></li><li>
<a href="http://htmlbook.ru/html/textarea" target="_blank">TEXTAREA</a></li><li>
<a href="http://htmlbook.ru/html/title" target="_blank">TITLE</a></li><li>
<a href="http://htmlbook.ru/html/ul" target="_blank">UL</a></li></ul><p>Было бы неплохо, если бы вы могли оперировать такими единицами измерения, как px, %, em, rem, vw, vh, vmin и vmax.
<a href="https://developer.mozilla.org/ru/docs/Learn/CSS/Introduction_to_CSS/Values_and_units" target="_blank">О единицах измерения стоит почитать здесь</a>, но не волнуйтесь, с основными единицами измерения мы ознакомимся в скором времени. А перед тем, как вы приступите к этому руководству, вы должны понимать,
<a href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Селекторы" target="_blank">как писать селекторы</a>. Для закрепления этих знаний предлагаю
<a href="https://artik-man.github.io/flukeout.github.io/" target="_blank">поиграть в эту игру</a>. Кроме того, вы должны знать основные css-свойства, перечисленные в списке ниже, и другие.</p><ul class="columns-2 can-print-break"><li>
<a href="http://htmlbook.ru/css/background" target="_blank">background</a></li><li>
<a href="http://htmlbook.ru/css/border" target="_blank">border</a></li><li>
<a href="http://htmlbook.ru/css/box-shadow" target="_blank">box-shadow</a></li><li>
<a href="http://htmlbook.ru/css/display" target="_blank">display</a></li><li>
<a href="http://htmlbook.ru/css/clear" target="_blank">clear</a></li><li>
<a href="http://htmlbook.ru/css/cursor" target="_blank">cursor</a></li><li>
<a href="http://htmlbook.ru/css/color" target="_blank">color</a></li><li>
<a href="http://htmlbook.ru/css/column-count" target="_blank">column-count</a></li><li>
<a href="http://htmlbook.ru/css/float" target="_blank">float</a></li><li>
<a href="http://htmlbook.ru/css/font-family" target="_blank">font-family</a></li><li>
<a href="http://htmlbook.ru/css/font-size" target="_blank">font-size</a></li><li>
<a href="http://htmlbook.ru/css/font-weight" target="_blank">font-weight</a></li><li>
<a href="http://htmlbook.ru/css/height" target="_blank">height</a></li><li>
<a href="http://htmlbook.ru/css/justify-content" target="_blank">justify-content</a></li><li>
<a href="http://htmlbook.ru/css/line-height" target="_blank">line-height</a></li><li>
<a href="http://htmlbook.ru/css/list-style" target="_blank">list-style</a></li><li>
<a href="http://htmlbook.ru/css/margin" target="_blank">margin</a></li><li>
<a href="http://htmlbook.ru/css/max-height" target="_blank">max-height</a></li><li>
<a href="http://htmlbook.ru/css/max-width" target="_blank">max-width</a></li><li>
<a href="http://htmlbook.ru/css/min-height" target="_blank">min-height</a></li><li>
<a href="http://htmlbook.ru/css/min-width" target="_blank">min-width</a></li><li>
<a href="http://htmlbook.ru/css/opacity" target="_blank">opacity</a></li><li>
<a href="http://htmlbook.ru/css/outline" target="_blank">outline</a></li><li>
<a href="http://htmlbook.ru/css/overflow" target="_blank">overflow</a></li><li>
<a href="http://htmlbook.ru/css/padding" target="_blank">padding</a></li><li>
<a href="http://htmlbook.ru/css/position" target="_blank">position</a></li><li>
<a href="http://htmlbook.ru/css/text-align" target="_blank">text-align</a></li><li>
<a href="http://htmlbook.ru/css/text-decoration" target="_blank">text-decoration</a></li><li>
<a href="http://htmlbook.ru/css/text-overflow" target="_blank">text-overflow</a></li><li>
<a href="http://htmlbook.ru/css/text-shadow" target="_blank">text-shadow</a></li><li>
<a href="http://htmlbook.ru/css/transform" target="_blank">transform</a></li><li>
<a href="http://htmlbook.ru/css/transition" target="_blank">transition</a></li><li>
<a href="http://htmlbook.ru/css/vertical-align" target="_blank">vertical-align</a></li><li>
<a href="http://htmlbook.ru/css/visibility" target="_blank">visibility</a></li><li>
<a href="http://htmlbook.ru/css/white-space" target="_blank">white-space</a></li><li>
<a href="http://htmlbook.ru/css/width" target="_blank">width</a></li><li>
<a href="http://htmlbook.ru/css/z-index" target="_blank">z-index</a></li></ul></section>
