<section id="gradients-shadows-filters">
  <h2>Градиенты, тени и фильтры</h2>
  <p>
    Почти на каждом макете, который вам даст дизайнер, вы увидите какие-то плавные переходы цветов, элементы, будто
    парящие над другими элементами, цветовые эффекты у изображений, происходящие с ними, например, при наведении курсора
    мыши. В этой главе мы разберём часть из этих эффектов.
  </p>
  <section>
    <h3>Градиенты</h3>
    <p>
      Градиенты &mdash; это плавные перетекания одних цветов в другие, используемые, в основном, для фона. В CSS
      градиенты бывают двух типов: линейные и радиальные.
    </p>
    <p>
      Линейные градиенты задаются функцией <code>linear-gradient()</code>, которая принимает в качестве параметров
      направление градиента (в радианах - deg) и список точек (минимум 2), содержащие цвет и позицию точки (в
      процентах).
    </p>
    <div data-run="gradient-1"></div>
    <pre data-lang="html" data-code="gradient-1" hidden="hidden">&lt;div class="gradient"&gt;&lt;/div&gt;</pre>
    <pre data-lang="css" data-code="gradient-1">
.gradient {
  background: linear-gradient(
    90deg, /* задаём направление градиента */
    blueviolet 0%, /* задаём цвет и позицию первой точки градиента */
    tomato 100% /* задаём цвет и позицию второй точки градиента */
  );
  height: 200px;
}</pre>
    <p>
      Подробнее о линейном градиенте можно прочитать здесь:
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient" target="_blank">
        MDN: linear-gradient()
      </a>
    </p>
    <p>
      Радиальные градиенты задаются функцией<code>radial-gradient()</code>, которая принимает в качестве параметров
      форму градиента (circle или ellipse) и список точек, содержащие цвет и позицию точки.
    </p>
    <div data-run="gradient-2"></div>
    <pre data-lang="html" data-code="gradient-2" hidden="hidden">&lt;div class="gradient"&gt;&lt;/div&gt;</pre>
    <pre data-lang="css" data-code="gradient-2">
.gradient {
  background: radial-gradient(
    circle, /* задаём форму градиента */
    blueviolet 0%, /* задаём цвет и позицию первой точки градиента */
    tomato 100% /* задаём цвет и позицию второй точки градиента */
   );
  height: 200px;
}
</pre>
    <p>Подробнее о радиальном градиенте можно прочитать здесь:
      <a href="https://developer.mozilla.org/ru/docs/Web/CSS/radial-gradient" target="_blank">MDN: radial-gradient()</a>
    </p>
    <p>Для быстрого формирования градиентов существуют генераторы градиентов, один из которых я рекомендую своим
      читателям:
      <a href="https://cssgradient.io/" target="_blank">CSS Gradient</a></p></section>
  <section><h3>Тени</h3>
    <p>Тени в CSS подразделяются на два вида: тени текста и тени блоков.</p>
    <p>Тени текста задаются свойством<code> text-shadow</code>, принимающим четыре параметра: сдвиг тени по оси X, сдвиг
      тени по оси Y, размытие тени и её цвет.</p>
    <p>Тени блоков задаются свойством<code> box-shadow</code>, принимающим пять параметров: сдвиг по оси X, сдвиг по оси
      Y, размытие тени, радиус распространения и её цвет.</p>
    <p>Рассмотрим пример:</p>
    <pre data-lang="html"
         data-code="shadow">&lt;div class="shadow"&gt;Текст с тенью внутри блока с тенью&lt;/div&gt;</pre>
    <pre data-lang="css" data-code="shadow">
.shadow {
  text-shadow: 1px 3px 5px grey;
  box-shadow: 0 5px 10px -3px black;

  max-width: 320px;
  padding: 50px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  color: teal;
  background: white;
  margin: 20px auto;
}</pre>
    <div data-run="shadow"></div>
    <p>Разберёмся подробнее с параметрами теней. Сдвиги по осям X и Y позволяют перемещать тень относительно текста. Они
      могут быть как положительными, так и отрицательными,</p>причём отрицательные сдвиги будут перемещать тень влево и
    вверх, соответственно. Размытие тени может быть только положительным числом. Благодаря этому параметру
    можно создать эффект нечёткой тени, положительно влияющий на реалистичность. Радиус распространения тени может быть
    как положительным, так и отрицательным числом.
    Это свойство применимо только к<code>box-shadow</code>. По умолчанию оно равно 0, что означает, что площадь тени
    будет равна площади блока. Положительные значения увеличат площадь тени относительно блока, а отрицательные &mdash;
    уменьшат, что позволит создать эффект парящего блока.<p>Поиграть с box-shadow можно здесь:
      <a target="_blank" href="https://html-css-js.com/css/generator/box-shadow/">Box-Shadow CSS Generator</a>, а с
      text-shadow тут:
      <a target="_blank" href="https://html-css-js.com/css/generator/text-shadow/">Text Shadow CSS Generator</a>.</p>
  </section>
  <section><h3>Фильтры</h3>
    <p>Фильтры в CSS решают примерно ту же задачу, что и фильтры в фотошопе или инстаграме (кому что ближе). Обычно,
      фильтры применяются к изображениям, но они могут быть применены</p>к любому элементу на странице. Существует
    несколько основных фильтров, но можно применять и собственные SVG-фильтры, если вы достаточно уверенно себя
    чувствуете, работая с этой технологией.
    <ul>
      <li><code>blur()</code>&mdash; применяет к элементу размытие по Гауссу (px)</li>
      <li><code>brightness()</code>&mdash; влияет на яркость изображения. (0% - 100%)</li>
      <li><code>contrast()</code>&mdash; изменяет контрастность изображения. (0% - 100%)</li>
      <li><code>drop-shadow()</code>&mdash; ведёт себя похожим образом на<code>box-shadow()</code>, но, применяясь к
        изображению с прозрачным фоном или сложной геометрической фигуре, образует тень, обтекающую именно фигуру, а не
        блок. Пример:<code>filter: drop-shadow(1px 1px 5px 0 black);</code></li>
      <li><code>grayscale()</code>&mdash; делает изображение чёрно-белым. (0% - 100%)</li>
      <li><code>hue-rotate()</code>&mdash; вращает цвета изображения по HSL-кругу. (0deg - 360deg)</li>
      <li><code>invert()</code>&mdash; создаёт негатив изображения. (0% - 100%)</li>
      <li><code>opacity()</code>&mdash; ведёт себя так же, как и обычное свойство opacity, изменяя прозрачность
        изображения. (0% - 100%)
      </li>
      <li><code>saturate()</code>&mdash; устанавливает насыщенность для изображения. (0% - 100%)</li>
      <li><code>sepia()</code>&mdash; имитирует эффект "старинного снимка". (0% - 100%)</li>
      <li><code>url()</code>&mdash; принимает ссылку на SVG-фильтр и применяет этот фильтр к изображению.</li>
    </ul>
    <p>Этот пример от html5book наглядно демонстрирует возможности фильтров:
      <a href="https://codepen.io/html5book/full/WGQOGg" target="_blank">CSS3 Filters</a>
    </p>
  </section>
</section>
