<article id="contents"><h2>Содержание</h2><ul></ul><ul><li>SVG</li><li>Вёрстка форм</li><li>Трансформации</li><li>Анимации</li><li>Поговорим о семантике</li><li>Bootstrap</li><li>Препроцессоры</li><li>meta и open graph</li></ul></article>