<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/icons/favicon-16x16.png")
    link(rel="manifest" href="./assets/icons/site.webmanifest")
    link(rel="mask-icon" href="./assets/icons/favicon.svg" color="#5bbad5")
    link(rel="shortcut icon" href="./assets/icons/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="./assets/icons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=Philosopher&display=swap&subset=cyrillic" rel="stylesheet")
    title HTML Practice

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css")
  
  body
    
    main
      .main-menu
        button#menu-switch-button(title="Меню")
        menu#menu
      .main-content

        .container
          h1
            a.logo(href="https://artik-man.github.io/HTML-Practice/")
              span.top HTML
              span.bottom Practice
            .scroll-down(aria-hidden=true)
              .wheel
          p

        include articles/contents.pug
        include articles/introduction.pug
        include articles/git.pug
        include articles/units.pug
        include articles/fonts.pug
        include articles/column-count.pug
        include articles/display.pug
        include articles/box-sizing.pug
        include articles/position.pug
        include articles/pseudo.pug
        include articles/image.pug
        include articles/css-variables.pug
        include articles/margin-0-auto.pug
        include articles/flex.pug
        include articles/relative-absolute.pug
        include articles/layouts.pug
        include articles/grids.pug
        include articles/media-queries.pug
        include articles/tooltip.pug
        include articles/dropdown.pug
        include articles/modals.pug
        include articles/custom-checkbox.pug
        include articles/audio-video.pug
        include articles/do-u-know.pug
        include articles/practice.pug
