/* #margin-0-auto */

.ex1-container {
  padding: 10px;
  background: lightblue;
}

.ex1-content {
  height: 100px;
  max-width: 500px;
  background: teal;
  margin: 0 auto;
}

.sol1 {
  background-color: #f7f7f7;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

.sol1 .content {
  margin: 0 auto;
  max-width: 1164px;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.sol1 .content .left {
  padding: 14px 0;
}

.sol1 .content .left a {
  margin-right: 18px;
}

.sol1 .content .right {
  padding: 7px 0;
}

.sol1 .content .right a.button {
  margin-left: 29px;
}

.sol1 a {
  color: #a1a1a1;
  text-decoration: none;
}

.sol1 a:hover {
  color: #ff6163;
}

.sol1 .button {
  display: inline-block;
  padding: 6px 13px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.sol1 a.primary {
  color: #0091d9;
}

.sol1 a.primary:hover {
  color: #ff6163;
}

.sol1 .button.primary {
  background-color: #01aaff;
  color: white;
}

.sol1 .button.primary:hover {
  color: white;
  background-color: #0099e6;
}

@media (max-width: 720px) {
  .sol1 {
    font-size: 1.5vmin;
  }

  .sol1 .content {
    padding: 0 3.5vmin;
  }

  .sol1 .content .left {
    padding: 1.5vmin 0;
  }

  .sol1 .content .left a {
    margin-right: 2vmin;
  }

  .sol1 .content .right {
    padding: 0.7vmin 0;
  }

  .sol1 .content .right a.button {
    margin-left: 3.2vmin;
    padding: 0.6vmin 1.5vmin;
  }
}

/* #flex */

.ex2-container {
  display: flex;
  background: lightblue;
  justify-content: space-between;
  padding: 5px;
}

.ex2-box-left {
  background: teal;
}

.ex2-box-right {
  background: blueviolet;
}

.ex2-container span {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px;
}

@media (max-width: 720px) {
  .ex2-container {
    padding: 5px 1px;
    font-size: 3.5vmin;
  }

  .ex2-container span {
    margin: 2px;
    padding: 10px 2px;
  }
}

.sol2 {
  border-bottom: 1px solid #d5dddf;
  border-top: 1px solid #d5dddf;
  font-size: 15px;
}

.sol2 .content {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}

.sol2 .right {
  padding: 16px;
  white-space: nowrap;
}

.sol2 .right .button {
  margin: 0 0 0 10px;
}

.sol2 a {
  display: inline-block;
  padding: 23px 0;
  margin-right: 28px;
  text-decoration: none;
  color: #838a92;
}

.sol2 a:hover {
  color: #5096b1;
}

.sol2 a.current {
  color: #464646;
}

.sol2 .button {
  padding: 8px 13px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 13px;
}

.sol2 .button.default {
  border-color: #a4afba;
  background-color: white;
}

.sol2 .button.default:hover {
  border-color: #65a3be;
}

.sol2 .button.primary {
  background-color: #65a3be;
  border-color: transparent;
  color: white;
}

.sol2 .button.primary:hover {
  background-color: #4986a1;
}

@media (max-width: 900px) {
  .sol2 {
    font-size: 1.5vmin;
  }

  .sol2 .content {
    padding: 0 3.5vmin;
  }

  .sol2 .right {
    padding: 1.5vmin;
  }

  .sol2 .right .button {
    margin: 0 0 0 0.5vmin;
  }

  .sol2 a {
    padding: 2.5vmin 0;
    margin-right: 1.4vmin;
  }

  .sol2 .button {
    padding: 0.8vmin 1.4vmin;
    font-size: 1.4vmin;
  }
}

/* #relative-absolute */

.ex3-container {
  position: relative;
  width: 100%;
  height: 300px;
  background: lightblue;
}

.ex3-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background: teal;
}

.sol3 {
  position: relative;
  width: 100%;
  height: 90vh;
  min-height: 550px;
  border-top: 1px solid #d5dddf;
  overflow: hidden;
  margin-bottom: -150px;
  margin-top: 50px;
}

.sol3 .title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

.sol3 .image-container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 70%;
  height: 60%;
  text-align: center;
}

.sol3 .image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.sol3 .slider-container {
  position: absolute;
  bottom: 30px;
  right: 50%;
  width: 320px;
  height: 80px;
  margin-right: -160px;
  display: flex;
  justify-content: space-between;
}

.sol3 .slider-container .thumb {
  text-align: center;
  padding: 8px;
  background: white;
  border: 1px solid #d8d8d8;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  cursor: pointer;
}

.sol3 .slider-container .thumb img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.sol3 .slider-container .thumb.active {
  border-color: #464646;
}

.sol3 .slider-container .thumb.active img,
.sol3 .slider-container .thumb:hover img {
  opacity: 1;
}

.sol3 .slider-container .button {
  width: 60px;
}

.sol3 .slider-container .button.left {
  left: auto;
  right: 100%;
  width: 40px;
}

.sol3 .slider-container .button.right {
  right: auto;
  left: 100%;
  width: 40px;
}

.sol3 .button {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  background: white;
  min-width: 30px;
  min-height: 30px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 80px;
  height: 80px;
}

.sol3 .button:hover {
  opacity: 1;
}

.sol3 .button.left {
  left: 0;
  background-image: url('../images/angle-left-sm.svg');
}

.sol3 .button.right {
  right: 0;
  background-image: url('../images/angle-right-sm.svg');
}

.sol3 .button.close {
  position: absolute;
  top: 30px;
  right: 30px;
  transform: none;
  width: 30px;
  height: 30px;
  background-image: url('../images/times-sm.svg');
}

@media (max-width: 500px) {
  .sol3 .slider-container {
    transform: scale(0.8);
  }
}

/* #custom-checkbox */

.ex4 .custom-checkbox {
  padding: 0 1em 0 1.4em;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  min-height: 1em;
}

.ex4 .custom-checkbox .checker {
  position: absolute;
  margin-top: 0;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
  overflow: hidden;
  text-align: center;
  font-size: 1em;
  line-height: 1;
  border: 1px solid teal;
  border-radius: 3px;
  background-color: white;
  color: transparent;
}

.ex4 .custom-checkbox .checker:after {
  content: '✓';
}

.ex4 .custom-checkbox input[type='checkbox'] {
  position: absolute;
  right: 100%;
  top: 0;
}

.ex4 .custom-checkbox input[type='checkbox']:checked + .checker {
  background-color: teal;
  color: white;
}

.ex4 .custom-checkbox input[type='checkbox']:focus + .checker {
  box-shadow: 0 0 5px 0 teal;
}

.ex4 .custom-checkbox input[type='checkbox']:disabled + .checker {
  background-color: #999;
  border-color: #999;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sol4 {
  text-align: center;
  margin-bottom: -1px;
}

.sol4 .ex4 {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 8px;
  display: inline-block;
  line-height: 1;
}

.sol4 .custom-checkbox {
  padding-right: 0;
  vertical-align: middle;
}

.sol4 .custom-checkbox .checker:after {
  display: none;
}

.sol4 .custom-checkbox input[type='checkbox']:focus + .checker {
  box-shadow: none;
}

.sol4 .custom-checkbox .checker {
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  opacity: 0.3;
}

.sol4 .custom-checkbox input[type='checkbox']:checked + .checker {
  background-color: transparent;
  opacity: 1;
}

.sol4 .custom-checkbox.default .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_black_20dp.png');
}

.sol4 .custom-checkbox.default input[type='checkbox']:checked + .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_black_20dp.png');
}

.sol4 .custom-checkbox.star .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png');
}

.sol4 .custom-checkbox.star input[type='checkbox']:checked + .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_googyellow500_20dp.png');
}

.sol4 .custom-checkbox.label .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_outline_black_20dp.png');
}

.sol4 .custom-checkbox.label input[type='checkbox']:checked + .checker {
  background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_googyellow500_20dp.png');
}

.ex5 {
  display: flex;
  justify-content: center;
}

.ex5 * {
  text-align: center;
  border: 1px dashed black;
  padding: 10px;
  margin: 10px 24px 24px;
  font-size: 14px;
  font-family: monospace;
}

.ex5 .margin {
  background: lightsalmon;
}

.ex5 .border {
  background: navajowhite;
}

.ex5 .padding {
  background: lightgreen;
}

.ex5 .size {
  background: lightblue;
  width: 90px;
  height: 80px;
  position: relative;
  padding: 0 10px;
  text-align: left;
}

.ex5 .size:after {
  content: 'height';
  position: absolute;
  writing-mode: vertical-lr;
  top: 10px;
  right: 0;
}

.ex6 div {
  width: 200px;
  height: 100px;
  padding: 0;
  box-sizing: content-box;
  background: teal;
  color: white;
  margin: 20px auto;
}

.ex6 .two {
  padding: 40px;
  box-shadow: inset 0 0 0 40px darkcyan;
}

.ex6.border-box div {
  box-sizing: border-box;
}

.ex7 {
  background: #eee;
  padding: 15px;
}

.ex7 p {
  margin: 0.5em 0 1em;
}

.ex7 .float-left {
  float: left;
}

.ex7 .float-right {
  float: right;
}

.ex7 .clear {
  clear: both;
}
