<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/icons/favicon-16x16.png">
  
  <link rel="mask-icon" href="./assets/icons/favicon.svg" color="#5bbad5">
  <link rel="shortcut icon" href="./assets/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  
  <meta name="theme-color" content="#ffffff">

  <title>HTML Practice</title>

      <base href="../../">
  
  <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;display=swap&amp;subset=cyrillic"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;display=swap&amp;subset=cyrillic"
        rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <nav class="no-print">
    <button>Меню</button>
    <ul>
      <li><a href="/" class="accent-font">HTML Practice</a></li>
              <li><a href="./articles/introduction">Введение</a></li>
              <li><a href="./articles/git">Кратко о GIT</a></li>
              <li><a href="./articles/units">Единицы измерения в CSS</a></li>
              <li><a href="./articles/fonts">Форматирование текста</a></li>
              <li><a href="./articles/column-count">Многоколоночный текст</a></li>
              <li><a href="./articles/display">Свойство display</a></li>
              <li><a href="./articles/box-sizing">Блочная модель и box-sizing</a></li>
              <li><a href="./articles/position">Позиционирование</a></li>
              <li><a href="./articles/pseudo">Псевдо-классы и псевдо-элементы</a></li>
              <li><a href="./articles/image">Картинка в тексте</a></li>
              <li><a href="./articles/css-variables">CSS переменные</a></li>
              <li><a href="./articles/margin-0-auto">Выравнивание блока по центру</a></li>
              <li><a href="./articles/flex">Самый правильный способ разнести блоки в разные стороны</a></li>
              <li><a href="./articles/relative-absolute">Горизонтальное и вертикальное центрирование блока</a></li>
              <li><a href="./articles/layouts">Многоколоночные макеты</a></li>
              <li><a href="./articles/grids">Сетки</a></li>
              <li><a href="./articles/media-queries">Отзывчивый дизайн и медиа-выражения</a></li>
              <li><a href="./articles/gradients-shadows-filters">Градиенты, тени и фильтры</a></li>
              <li><a href="./articles/transforms">Трансформации</a></li>
              <li><a href="./articles/tooltip">Вёрстка тултипов</a></li>
              <li><a href="./articles/dropdown">Выпадающее меню и дропдауны</a></li>
              <li><a href="./articles/modals">Вёрстка модальных окон</a></li>
              <li><a href="./articles/custom-checkbox">Вёрстка чекбоксов</a></li>
              <li><a href="./articles/audio-video">Audio и Video</a></li>
              <li><a href="./articles/do-u-know">Знаете ли вы?</a></li>
              <li><a href="./articles/practice">Практика</a></li>
          </ul>
  </nav>

<main>
  <div class="main-content">
    <div class="container">
        <section id="layouts"><h2>Многоколоночные макеты</h2><p>При вёрстке сайта, одной из первых задач верстальщика является создание основного шаблона.Основным шаблоном в данном случае называется вёрстка без контента - это совокупность шапки сайта, меню,
футера и прочих элементов, которые встречаются на каждой странице.</p><p>Итак, попробуем сверстать простой макет сайта. Сверху у нас будет шапка сайта, слева будет навигация по разделу сайта, справа контент, а снизу футер.Стандартный шаблон, ничего необычного. Начнём с HTML.</p><pre data-lang="html" data-code="lay1,lay2,lay3,lay4,lay5">
&lt;div class="main-container"&gt;
  &lt;header&gt;Header&lt;/header&gt;
  &lt;nav&gt;Site navigation&lt;/nav&gt;
  &lt;main&gt;Site content&lt;/main&gt;
  &lt;footer&gt;Footer&lt;/footer&gt;
&lt;/div&gt;
</pre><p>Если мы запустим это прямо сейчас, мы лишь увидим, как все эти элементы расположились друг под другом. Придётся добавить стилей.</p><section><h3>Float</h3><p>В древние времена существовало несколько вариантов вёрстки макетов, а самым адекватным из них был float. Как мы выяснили в одной из предыдущих глав,с помощью float можно сделать так, чтобы картинка обтекалась текстом. То же можно применить и к блокам. Если мы возьмём два блочных элемента
с определенными заранее шириной и высотой, то, добавив к ним<code>float: left;</code>, мы увидим, как эти два блочных элемента выстроятся в один ряд, если ширина страницы это позволит.</p><pre data-lang="css" data-code="lay1">
.main-container {
  margin: 0 auto;
  max-width: 800px;
}
header {
  height: 50px;
  background: cornflowerblue;
}
nav {
  height: 80px;
  background: darksalmon;
  width: 20%;   /* Задаём ширину блока навигации */
  float: left;  /* Устанавливаем обтекание */
}
main {
  height: 120px;
  background: khaki;
  width: 80%;   /* Задаём ширину контента */
  float: left;  /* Устанавливаем обтекание */
}
footer {
  clear: both;  /* Сбрасываем обтекание */
  height: 50px;
  background: darkseagreen;
}
</pre><div data-run="lay1"></div><p>Казалось бы, на этом можно закончить наш урок, но, если хорошо подумать, можно увидеть, как много проблем мы породили этим решением:</p><ol><li>Мы не можем жёстко зафиксировать ширину навигационного меню</li><li>Если перед футером нам потребуется вставить какой-то блок, например, рекламный, вёрстка "поедет", ведь мы благополучно забудем про<code>clear: both;</code></li><li>Высота навигации никак не зависит от высоты контента и наоборот. Под более коротким блоком будет пустота.</li></ol><p>Подробнее о float читайте тут:
<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/CSS/float">float</a></p></section><section><h3>Flex</h3><p>Рассмотрим более современный способ. Мы можем использовать<code>display: flex;</code>у<code>.main-container</code>, тогда мы сможем избавиться от пары недостатков предыдущего примера.</p><pre data-lang="css" data-code="lay2,lay4">
.main-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;        /* Объявляем контейнер флексом */
  align-items: stretch; /* Высота элементов должна подстраиваться по высоте самого высокого элемента */
  flex-wrap: wrap;      /* Если не хватает места в строке, переносить блок на следующую */
}
header {
  width: 100%;          /* Обязательно задаём ширину для шапки */
  height: 50px;
  background: cornflowerblue;
}
nav {
  background: darksalmon;
  width: 20%;           /* Задаём ширину навигационного меню */
}
main {
  height: 120px;
  background: khaki;
  width: 80%;           /* Задаём ширину контента */
}
footer {
  width: 100%;          /* Обязательно задаём ширину для футера */
  height: 50px;
  background: darkseagreen;
}</pre><div data-run="lay2"></div><p>Как мы видим, каким бы длинным ни был контент, под навигацией не образуется пробела, а так как больше нет флоатов, то перед футером можно вставить любой блок.К сожалению, таким способом мы не смогли решить последнюю проблему: как задать у меню фиксированную ширину, а ширина контента при этом была переменной?</p><p>Больше о flex здесь:</p><ul><li>
<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Основные понятия Flexbox</a></li><li>
<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/CSS/flex-wrap">flex-wrap</a></li><li>
<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container">align-items and justify-content</a></li></ul></section><section><h3>Grid</h3><p>Самым современным способом вёрстки макетов на сегодняшний день является т.н. Grid layout. Грид позволяет выстраивать элементы внутри себя по заранее заданнойсетке. Для начала разберём пример, а затем разберёмся подробнее, как это работает.</p><pre data-lang="css" data-code="lay3">
.main-container {
  margin: 0 auto;
  max-width: 800px;
  display: grid;                        /* Объявляем контейнер гридом */
  grid-template-rows: 50px 1fr 50px;    /* (1) Задаём строки */
  grid-template-columns: 200px 1fr;     /* (2) Задаём колонки */
  grid-template-areas: 'header header'  /* (3) Задаём названия областей */
    'nav content'
    'footer footer';
}
header {
    grid-area: header;  /* Шапка займёт область с названием header */
    background: cornflowerblue;
}
nav {
  background: darksalmon;
  grid-area: nav;     /* Навигация займет область nav */
}
main {
  height: 120px;
  background: khaki;
  grid-area: content;  /* Контент займёт content */
}
footer {
  grid-area: footer;  /* Футер - footer */
  background: darkseagreen;
}</pre><div data-run="lay3"></div><p>Как можно заметить, мы избавились от всех негативных последствий. А теперь разберёмся подробнее, как это работает.</p><ol><li><code>grid-template-rows: 50px 1fr 50px;</code>означает, что если смотреть на сайт по вертикали, то у нас образуются три строки: шапка, навигация с контентом, футер.
Высоту первой строки, шапки, установим равной 50px, высота второй строки нам неизвестна, а высота третьей, футера, тоже 50px.</li><li><code>grid-template-columns: 200px 1fr;</code>означает, что если смотреть на сайт по горизонтали, то образуются два столбца: слева навигация, справа контент.
Ширину навигации установим равной 200px, а ширина контента нам неизвестна и она займёт всё доступное пространство.</li><li>Итак, на этом этапе мы поняли, что у нас будет три строки и два столбца. Это и указываем далее:<code> grid-template-areas: 'header header'  'nav content'  'footer footer';</code>. Этот код создаёт три строки и два столбца, состоящие из именованных областей. Именовать эти области можно как угодно,
их названия будут указаны в дочерних элементах в свойстве<code>grid-area</code>. Здесь мы видим, что шапка займёт две колонки; навигация &mdash; одну, левую колонку; контент &mdash; одну правую; футер &mdash; две колонки.</li></ol><p>Таким образом, мы получили идеальную сетку для нашего сайта. Подробнее о grid layout читать здесь:</p><ul><li>
<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Grid_Layout">CSS Grid layout</a></li><li>
<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template">grid-template</a></li><li>
<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid-area">grid-area</a></li></ul></section><section><h3>Calc</h3><p>А теперь настало время удивляться. Вернёмся к примеру с флексом и добавим еще немного CSS:</p><pre data-lang="css" data-code="lay4">
nav {
  width: 200px;
}
main {
  width: calc(100% - 200px);
}</pre><div data-run="lay4"></div><p>Таким образом мы избавились от проблемы фиксированной ширины меню. Благодаря функции<code>calc()</code>, мы заставили ширину контента зависеть от ширины блока навигации.
<a target="_blank" href="https://developer.mozilla.org/ru/docs/Web/CSS/calc">О calc() можно почитать здесь</a></p></section><section><h3>Ещё один вариант вёрстки шаблона</h3><p>На самом деле, есть еще один вариант. Он сложный и ненадёжный, но для общего развития, стоит упомянуть и его.</p><pre data-lang="css" data-code="lay5">
.main-container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  padding: 50px 0 50px 200px;
  box-sizing: border-box;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: cornflowerblue;
}
nav {
  background: darksalmon;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 200px;
  overflow-y: auto;
}
main {
  height: 120px;
  background: khaki;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: darkseagreen;
}</pre><div data-run="lay5"></div><p>Что тут сделано?</p><ol><li>Основной контейнер спозиционирован относительно, чтобы абсолютно-спозиционированные элементы выстраивались внутри него.</li><li>Шапка и футер прижимаются к верхней и нижней части контейнера.</li><li>Навигация прижимается к левой части контейнера.</li><li>Чтобы блоки не налезали друг на друга, с помощью внутренних отступов у основного контейнера, отделим контент от остальных блоков.</li><li>Так как теперь высота блока навигации зависит от высоты контента, добавляем свойство<code>overflow</code>, чтобы при недостаточной высоте навигации, внутри неё появлялся скроллбар.</li></ol></section></section>
    </div>
  </div>
</main>
<script src="./scripts.js"></script>
</body>
</html>