article#contents
  .container
    h2 Содержание
    ul
      li 
        a(href="#git") Кратко о GIT
      li
        a(href="#margin-0-auto") Выравнивание блока по центру
      li
        a(href="#flex") Самый правильный способ разнести блоки в разные стороны
      li
        a(href="#relative-absolute") Горизонтальное и вертикальное центрирование блока
      li 
        a(href="#custom-checkbox") Вёрстка чекбоксов
      
