article#contents
  .container
    h2 Содержание
    ul
      -// Содержание генерируется скриптом

    ul
      li Многоколоночный текст: column-count и column-gap
      li Псевдоклассы и псевдоэлементы
      li CSS переменные
      li Способы создания сеток
      li Вёрстка тултипов 
      li Вёрстка выпадающего меню
      li Вёрстка модальных окон
      li Вёрстка форм
      li Градиенты, тени и фильтры
      li Трансформации
      li Анимации
      li Аудио и видео
      li Отзывчивый дизайн и медиа-выражения
      li Поговорим о семантике
      li Bootstrap
      li Препроцессоры