article#contents
  .container
    h2 Содержание
    ul
      -// Содержание генерируется скриптом

    ul
      li Позиционирование
      li Форматирование текста, шрифты и google-fonts
      li Многоколоночный текст: olumn-count и column-gap
      li Картинка в тексте и float + https://ru.learnlayout.com/clearfix.html
      li Псевдоклассы и псевдоэлементы
      li Способы создания сеток
      li Вёрстка тултипов 
      li Вёрстка выпадающего меню
      li Вёрстка модальных окон
      li Градиенты, тени и фильтры
      li Трансформации
      li Анимации
      li Аудио и видео
      li Отзывчивый дизайн и медиа-выражения
      li Поговорим о семантике