
article#flex
  .container
    h2 Самый правильный способ разнести блоки в разные стороны
    p Способ основывается на применении 
      a(href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox" target="_blank") флекс-контейнера
      | , внутри которого находятся два блока. Оперируя свойством 
      a(href="http://htmlbook.ru/css/justify-content" target="_blank") justify-content
      | , можно добиться различных вариантов размещения этих двух блоков внутри флекс-контейнера. Нас же сейчас интересует
      | значение "space-between", равномерно распределяющее блоки по ширине флекс-контейнера, прижимая к его краям первый и последний блоки. 
      | Ширина блоков будет выбираться автоматически, в зависимости от контента, содержащегося внутри блока. 
      | Кроме того, ширину блока, при необходимости, можно зафиксировать свойством 
      a(href="http://htmlbook.ru/css/width" target="_blank") width
      | , если это потребуется. 
    p Этот метод используется, в основном, для построения "шапки" сайта, но может быть использован и в других частях сайта или 
      nobr веб-приложения. 
      | Для полного понимания работы флекс-контейнеров, рекомендую поиграть в игру 
      a(href="https://flexboxfroggy.com/" target="_blank") Flexbox Froggy

    section
      p Пример:
      .ex2-container
        .ex2-box-left
          span Brand
          span Stores
          span Actions
          span Contacts
        .ex2-box-right
          span Settings
          span Account

      p Код:
      pre(data-lang="html")
        :escape
          <div class="container">
              <div class="box-left">
                 <span>Brand</span>
                 <span>Stores</span>
                 <span>Actions</span>
                 <span>Contacts</span>
              </div>
              <div class="box-right">
                 <span>Settings</span>
                 <span>Account</span>
              </div>
          </div>

      pre(data-lang="css")
        :escape
          .container {
            /* Задаём флекс-бокс (позволяет влиять на расположение дочерних элементов) */
            display: flex;
            /* Говорим элементам встать так, чтобы между ними, по возможности, образовывалось расстояние */
            justify-content: space-between; 
          }
          
          .box-left {
            /* Здесь можно задать какие-то стили для левого блока */
          }
          
          .box-right {
            /* Здесь можно задать какие-то стили для правого блока */
          }

    section
      h3 Задача
      p
        | Сделать шапку для сайта habr.com так, чтобы правая и левая часть меню были разнесены при помощи
        | флекс-бокса

  .sol2
    .content
      .left
        a.current(href="#") Публикации
        a(href="#") Новости
        a(href="#") Пользователи
        a(href="#") Хабы
        a(href="#") Компании
        a(href="#") Песочница
      .right
        a.button.default(href="#") Войти
        a.button.primary(href="#") Регистрация
