article#fonts
  .container
    h2 Форматирование текста
    p Для форматирования текста используется следующий основной набор свойств: 
    ul 
      li 
        a(href="http://htmlbook.ru/css/font-family" target="_blank") font-family
        br
        | Задаёт шрифт для элемента. К примеру, 
        code font-family: Arial, sans-serif;
        | Изменяет шрифт на Arial, а если этого шрифта в системе нет, то берёт любой из установленных шрифтов семейства sans-sefif. 
      li 
        a(href="http://htmlbook.ru/css/font-size" target="_blank") font-size
        br
        | Задаёт кегль для текста (размер шрифта). 
        code font-size: 18px;
        | Задаёт размер шрифта в 18px. Могут быть использованы относительные значения: "larger" и "smaller", указывающие, что размер должен быть больше или меньше стандартного значения. 
      li 
        a(href="http://htmlbook.ru/css/font-weight" target="_blank") font-weight
        br
        | Устанавливает насыщенность (жирность) шрифта. Значением могут быть числа от 100 до 900 с шагом 100, а также bold, bolder, lighter и normal. 
        br
        b Примечание:
        |  значения должны поддерживаться шрифтом! Если шрифт не поддерживает какие-то значения насыщенности, то вы не сможете задать эти значения и будет выбрано ближайшее поддерживающееся. 
      li 
        a(href="http://htmlbook.ru/css/font-style" target="_blank") font-style
        br
        | Определяет начертание шрифта. Может быть обычным (normal), курсивным (italic) и наклонным (oblique). 
        br 
        | Наклонное начертание хоть и похоже на курсивной, однако, это разные вещи. Курсивным текст станет только в том случае, если шрифт поддерживает курсивное начертание. 
        | Наклонный текст образуется путём программного наклона букв обычного шрифта.  
      li 
        a(href="http://htmlbook.ru/css/font-variant" target="_blank") font-variant
        br
        | Благодаря этому свойству, можно отображать текст капителью. Это означает, что строчные буквы будут отображены как прописные, но уменьшенного размера. 
      li 
        a(href="http://htmlbook.ru/css/letter-spacing" target="_blank") letter-spacing
        br
        | Определяет интервал между символами. Желательно задавать значения в em. Принимает и отрицательные значения. 
      li 
        a(href="http://htmlbook.ru/css/word-spacing" target="_blank") word-spacing 
        br
        | Устанавливает интервал между словами (ширина пробела)
      li 
        a(href="http://htmlbook.ru/css/text-indent" target="_blank") text-indent
        br
        | Устанавливает ширину первой строки абзаца (красной строки)
      li 
        a(href="http://htmlbook.ru/css/text-transform" target="_blank") text-transform
        br
        | Управляет регистром текста. К примеру, значение uppercase устанавливает все символы текста прописными.
      li 
        a(href="http://htmlbook.ru/css/text-decoration" target="_blank") text-decoration
        br 
        | Добавляет подчёркивание (underline), перечёркивание (line-through) или линию над текстом (overline). 
        | Кроме того, значение none полностью убирает стандартные подчёркивания у ссылок. 
      li 
        a(href="http://htmlbook.ru/css/text-align" target="_blank") text-align
        br
        | Выравнивание текста. Доступные значения: 
        b center 
        | (по центру), 
        b justify 
        | (по ширине строки), 
        b start 
        | (по левому краю, для тех языков, где текст идёт слева направо), 
        b end 
        | (по правому краю, для тех языков, где текст идёт слева направо)
      li 
        a(href="http://htmlbook.ru/css/text-shadow" target="_blank") text-shadow
        br 
        | Добавляет тень тексту. К примеру, 
        code text-shadow: 1px 2px 3px black;
        | , где 
        br
        | первое значение (1px) &mdash; сдвиг по оси x, 
        br
        | второе значение (2px) &mdash; сдвиг по оси y,
        br
        | третье значение (3px) &mdash; радиус размытия тени,
        br 
        | четвертое значение (black) &mdash; цвет тени. 
        br 
        | Кроме того, таких групп значений может быть сколько угодно. К примеру, 
        code text-shadow: 1px 2px 3px black, 0 0 1em red;
      li 
        a(href="http://htmlbook.ru/css/line-height" target="_blank") line-height
        br 
        | Задаёт высоту строки. Если задавать без единиц измерения, например, 
        code line-height: 2;
        |, значение будет воспринято как множитель. 

    h3 Собственные шрифты
    p Для подключения собственного шрифта используется правило 
       a(href="http://htmlbook.ru/css/font-face" target="_blank") @font-face.
    pre(data-lang="css")
        | @font-face {
        |   font-family: 'Philosopher'; /* Название шрифта*/
        |   font-style: normal;         /* Начертание */
        |   font-weight: 400;           /* Насыщенность */
        |   src: url(./fonts/philosopher.woff2) format('woff2'); /* Путь к файлу шрифта и его формат */
        | }
    p Для подключение такого шрифта к элементу, используют код:
    pre(data-lang="css")
        | .selector {
        |   font-family: 'Philosopher', sans-serif;
        | }
    h3 Google Fonts 
    p Для упрощения подключения шрифтов, используют различные библиотеки шрифтов. К примеру, 
      a(target="_blank" href="https://fonts.google.com/") Google Fonts
      | . Такие библиотеки содержат сотни шрифтов, а так же оптимизаторы для браузеров. 
      | Всё что нам нужено &mdash; выбрать требуемый шрифт, выбрать, какие начертания и языки нам требуются (для русского языка Cyrillic),
      | подключить в 
      code &lt;head&gt;
      | стиль шрифта, имеющий примерно такой вид:
    pre(data-lang="html")
        | &lt;head>
        |  ...
        |  &lt;link href="https://fonts.googleapis.com/css?family=Philosopher:400,700&display=swap&subset=cyrillic" rel="stylesheet">
        |  ...
        | &lt;/head>
