article#image
  .container
    h2 Картинка в тексте
    p Часто, бывает нужно вставить картинку в текст. Но работает это не всегда так, как мы это задумывали. 
      | Попробуем вставить картинку без стилей и посмотрим, что получится.
    section
      p Код примера предельно прост: 
      pre(data-lang="html" data-code="image-in-text-1")
        :escape
         <p>
            <img src="./images/image.svg" alt="Just image">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi maiores excepturi dolore cupiditate sit obcaecati, 
            repellat doloribus rerum! Dicta eius aliquid eaque sed sequi obcaecati debitis quos veniam placeat.
         </p>
         <p>
            Itaque voluptates eum nihil minima quo iure voluptas, atque amet molestias, perspiciatis sed cupiditate nemo inventore velit 
            soluta iste ut nesciunt! Qui fuga nesciunt accusantium magnam officiis corrupti, quibusdam amet.
         </p>
         <p>
            Soluta, laudantium in. Dolorem laboriosam nobis nihil iste eum sapiente maxime, facilis minus atque debitis corporis quasi, 
            molestias delectus magni placeat ipsum iure perspiciatis doloremque repudiandae rem tenetur, in dolorum. 
         </p>

      div(data-run="image-in-text-1")

    section
      p Как видите, картинка стала частью первой строки текста. Нам редко нужно, чтобы поведение было именно таким. 
        | Чаще нам необходимо сделать так, чтобы картинка обтекалась текстом. Для этого существует свойство float. 
      
      p Добавим к нашему примеру 
        a(href="http://htmlbook.ru/css/float" target="_blank") float
        | : left и посмотрим, что получится
      pre(data-lang="css" data-code="image-in-text-2")
        :escape
         img {
           float: left;
         }
      pre(data-lang="html" data-code="image-in-text-2" hidden)
        :escape
         <p>
            <img src="./images/image.svg" alt="Just image">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi maiores excepturi dolore cupiditate sit obcaecati, 
            repellat doloribus rerum! Dicta eius aliquid eaque sed sequi obcaecati debitis quos veniam placeat.
         </p>
         <p>
            Itaque voluptates eum nihil minima quo iure voluptas, atque amet molestias, perspiciatis sed cupiditate nemo inventore velit 
            soluta iste ut nesciunt! Qui fuga nesciunt accusantium magnam officiis corrupti, quibusdam amet.
         </p>
         <p>
            Soluta, laudantium in. Dolorem laboriosam nobis nihil iste eum sapiente maxime, facilis minus atque debitis corporis quasi, 
            molestias delectus magni placeat ipsum iure perspiciatis doloremque repudiandae rem tenetur, in dolorum. 
         </p>

      div(data-run="image-in-text-2")

      p Здесь мы видим, что картинка стала обтекаться текстом. Правда, из-за того, что текста много, мы не видим одного подводного камня этого решения.
    section
      p Давайте уберём последние два абзаца и посмотрим, что будет

      div(style="background: #f2f2f2; padding: 15px;")
        p(style="margin: 10px 0;")
          img(src="../images/image.svg" alt="Just image" style="float:left;") 
          | Lorem ipsum dolor... 
      p Обратите внимание, что-то пошло не так и даже этот абзац, не относящийся к примеру, всё равно обтекается картинкой. Явно не то, чего мы ожидали. 
        | Всё дело в том, что флоаты (поплавки) "всплывают" над родительским элементом, поэтому его высота больше не зависит от нашей картинки. 
    section
      p Для того, чтобы исправить подобное поведение, нужно воспользоваться "очисткой" &mdash; 
        a(href="http://htmlbook.ru/css/clear" target="_blank") clear
        | . Изменим наш код следующим образом:
      pre(data-lang="html" data-code="image-in-text-3")
        :escape
          <p>
            <img src="../images/image.svg" alt="Just image">
            Lorem ipsum dolor...
          </p>
          <div class="clear"></div>
      pre(data-lang="css" data-code="image-in-text-3")
        :escape
          img {
            float: left;
          }
          .clear {
            clear: both;
          }
    section
      div(data-run="image-in-text-3")
      
      p Как видите, абзац, который вы сейчас читаете, находится уже за пределами примера. Добавив такой чистящий элемент в самый конец родительского контейнера, 
        | мы смогли вернуть высоту контейнера к нормальному уровню. 
    section
      p В предыдущих примерах мы увидели, как задать обтекание картинки текстом так, чтобы картинка оказалась слева. 
        | Точно так же мы можем обтекать её и с другой стороны. 
      pre(data-lang="css" data-code="image-in-text-4")
        :escape
          img {
            float: right;
          }
      pre(data-lang="html" data-code="image-in-text-4" hidden)
        :escape
         <p>
            <img src="./images/image.svg" alt="Just image">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi maiores excepturi dolore cupiditate sit obcaecati, 
            repellat doloribus rerum! Dicta eius aliquid eaque sed sequi obcaecati debitis quos veniam placeat.
         </p>
         <p>
            Itaque voluptates eum nihil minima quo iure voluptas, atque amet molestias, perspiciatis sed cupiditate nemo inventore velit 
            soluta iste ut nesciunt! Qui fuga nesciunt accusantium magnam officiis corrupti, quibusdam amet.
         </p>
         <p>
            Soluta, laudantium in. Dolorem laboriosam nobis nihil iste eum sapiente maxime, facilis minus atque debitis corporis quasi, 
            molestias delectus magni placeat ipsum iure perspiciatis doloremque repudiandae rem tenetur, in dolorum. 
         </p>
      div(data-run="image-in-text-4")

 
      p И если мы не уверены, что текста будет достаточно, не забудем добавить в конец контейнера clear: both.
      pre(data-lang="css" data-code="image-in-text-5")
        :escape
          img {
            float: left;
          }
          .clear {
            clear: both;
          }
      pre(data-lang="html" data-code="image-in-text-5" hidden)
        :escape
         <p>
            <img src="./images/image.svg" alt="Just image">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi maiores excepturi dolore cupiditate sit obcaecati, 
            repellat doloribus rerum! Dicta eius aliquid eaque sed sequi obcaecati debitis quos veniam placeat.
         </p>
      div(data-run="image-in-text-5")
    
    section
      p Подведём итоги. Для того, чтобы вставить картинку в текст и сделать так, чтобы она обтекалась, нужно воспользоваться свойством 
      a(href="http://htmlbook.ru/css/float" target="_blank") float
      | , а для того, чтобы восстановить размер контейнера в том случае, если картинка стала вылезать за его пределы, нужно использовать свойство 
      a(href="http://htmlbook.ru/css/clear" target="_blank") clear
      | .