article#introduction
  .container
    h2 Введение
    p 
      | Это практическое руководство создано для начинающих верстальщиков и frontend-разработчиков, которые уже успели познакомиться с множеством HTML-тегов и CSS-свойств. 
      | Как минимум, вы должны быть знакомы со следующими HTML-тегами:
    .flex-content
      ul
        li
          a(href="http://htmlbook.ru/html/a" target="_blank") A
        li
          a(href="http://htmlbook.ru/html/article" target="_blank") ARTICLE
        li
          a(href="http://htmlbook.ru/html/body" target="_blank") BODY
        li
          a(href="http://htmlbook.ru/html/button" target="_blank") BUTTON
        li
          a(href="http://htmlbook.ru/html/div" target="_blank") DIV
        li
          a(href="http://htmlbook.ru/html/h1" target="_blank") H1
        li
          a(href="http://htmlbook.ru/html/h2" target="_blank") H2
        li
          a(href="http://htmlbook.ru/html/h3" target="_blank") H3
        li
          a(href="http://htmlbook.ru/html/head" target="_blank") HEAD
        li
          a(href="http://htmlbook.ru/html/html" target="_blank") HTML
        li
          a(href="http://htmlbook.ru/html/img" target="_blank") IMG
      ul  
        li
          a(href="http://htmlbook.ru/html/input" target="_blank") INPUT
        li
          a(href="http://htmlbook.ru/html/label" target="_blank") LABEL
        li
          a(href="http://htmlbook.ru/html/li" target="_blank") LI
        li
          a(href="http://htmlbook.ru/html/link" target="_blank") LINK
        li
          a(href="http://htmlbook.ru/html/p" target="_blank") P
        li
          a(href="http://htmlbook.ru/html/section" target="_blank") SECTION
        li
          a(href="http://htmlbook.ru/html/span" target="_blank") SPAN
        li
          a(href="http://htmlbook.ru/html/textarea" target="_blank") TEXTAREA
        li
          a(href="http://htmlbook.ru/html/title" target="_blank") TITLE
        li
          a(href="http://htmlbook.ru/html/ul" target="_blank") UL 
    p Кроме того, вы должны быть знакомы с 
      a(href="http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model" target="_blank") блочной моделью
      |  и 
      a(href="http://htmlbook.ru/css/box-sizing" target="_blank") box-sizing
      | .

      //- единицы измерения, основные свойства