article#relative-absolute
  .container
    h2 Горизонтальное и вертикальное центрирование блока
    p Эта техника применяется, в основном, для вёрстки модальных окон
    h3 Пример:
  .ex3-container
    .ex3-block
  .container
    p Код:
    pre(data-lang="html")
      | <div class="ex3-container">
      |     <div class="ex3-block"></div>
      | </div>

    pre(data-lang="css")
      | .ex3-container {
      |     position: relative;
      |     width: 100%;
      |     height: 300px;
      |     background: lightblue;
      | }
      | 
      | .ex3-block {
      |     position: absolute; /* позволяет двигать блок относительно родительского релятивного контейнера */
      |     top: 50%; /* смещаем блок на 50% от высоты родителя */
      |     left: 50%; /* смещаем блок на 50% от ширины родителя */
      |     transform: translate(-50%, -50%); /* смещаем блок на 50% от ширины и высоты этого блока */
      |     width: 120px;
      |     height: 80px;
      |     background: teal;
      | }

  .container
    h3 Задача
    p Сделать просмотр изображений как на dns-shop.ru
    ul
      li Размер внешнего контейнера: 100% * 100vh
      li Вместо картинок можно использовать цветные блоки
      li Стрелочки: 
        a(href="./images/angle-left-sm.svg" target="_blank") arrow-left
        |, 
        a(href="./images/angle-right-sm.svg" target="_blank") arrow-right
        |; изображение кнопки "закрыть": 
        a(href="./images/times-sm.svg" target="_blank") close
        |.
  .sol3
    .title iPhone Xs Max
    button.button.close
    button.button.left
    button.button.right
    .image-container
      img(src="./images/iphonexsmax-1.jpg" alt="iPhone Xs Max")
    .slider-container
      button.button.left
      button.thumb.active
        img(src="./images/iphonexsmax-2.jpg" alt="Next")
      button.thumb
        img(src="./images/iphonexsmax-3.jpg" alt="Next")
      button.thumb
        img(src="./images/iphonexsmax-4.jpg" alt="Next")
      button.thumb
        img(src="./images/iphonexsmax-5.jpg" alt="Next")
      button.button.right
